html, body {
	height: 100%;
	overflow-x: hidden;
	background-color: #2196f3;
}
body {
	/*position: ;*/
	height: 100%;
	width: 100%;
}

.wall {
	z-index: 1;
	position: fixed;
	bottom: 0;
	display:inline-block;
	white-space:nowrap;
}

img {
	display: inline-block !important;
	float: left;
}

.brick {
	height: 50px;
	background-color: #9e9e9e;
	border: 3px solid #424242;
	display: inline-block;
	float: left;
}