html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.nav-bar {
    background-color: #2196F3;
    width: 100%;
    color: white;
    padding: 0.75em;
    padding-top: 1em;
    padding-bottom: 1em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

.title {
    font-size: 1.5em;
}

.content {
    margin-top: 3.75em;
}

#map {
    width: 100%;
    height: 600px;
    background-color: grey;
}

/* Post Info */

.post-info-title {
    font-size: 1.5em;
    margin-top: 0.5em;
}

.post-info-content {
    font-size: 1.25em;
}
